Repository google/android-cuttlefish, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io, @ikicha, @0405ysj

Rename generic_system_image to aosp_shared_system_image
  vsoc_x86_64/phone/aosp_cf.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Remove headers from `srcs` in cuttlefish/host/commands/cvd:libcvd
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Update kernel module paths
  shared/BoardConfig.mk
  shared/minidroid/BoardConfig.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

minidroid: fix build
  shared/minidroid/BoardConfig.mk
  shared/minidroid/device.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Revert "Update kernel module paths"
  shared/BoardConfig.mk
  shared/minidroid/BoardConfig.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Refactor all of the path logic together
  host/commands/assemble_cvd/super_image_mixer.cc
  host/commands/assemble_cvd/super_image_mixer.h
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Remove headers from `srcs` in cuttlefish/host/commands/cvd:libcvd
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Move early_vms.xml out of cuttlefish specific directory for reusability
  guest/services/trusty_security_vm_launcher/Android.bp
  guest/services/trusty_security_vm_launcher/early_vms.xml
  shared/device.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Reapply "Update kernel module paths"
  shared/BoardConfig.mk
  shared/minidroid/BoardConfig.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Expose `gpu_mode` parameter in env config.
  base/cvd/cuttlefish/host/commands/assemble_cvd/flags_defaults.h
  base/cvd/cuttlefish/host/commands/cvd/cli/parser/instance/cf_graphics_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/parser/load_config.proto
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Implement field on notificaitons and setting the power level on casimir
  host/commands/casimir_control_server/casimir_control.proto
  host/commands/casimir_control_server/casimir_controller.cpp
  host/commands/casimir_control_server/casimir_controller.h
  host/commands/casimir_control_server/main.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add new log messages around super image mixing
  host/commands/assemble_cvd/super_image_mixer.cc
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Expose `gpu_mode` parameter in env config.
  base/cvd/cuttlefish/host/commands/assemble_cvd/flags_defaults.h
  base/cvd/cuttlefish/host/commands/cvd/cli/parser/instance/cf_graphics_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/parser/load_config.proto
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add note about a build error fix
  base/cvd/README.md
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add note about a build error fix
  base/cvd/README.md
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

cuttlefish: use Health V4
  guest/hals/health/Android.bp
  guest/hals/health/android.hardware.health-service.cuttlefish.xml
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Revert "Reapply "Update kernel module paths""
  shared/BoardConfig.mk
  shared/minidroid/BoardConfig.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add REAR_DISPLAY_OUTER_DEFAULT to CF configuration
  shared/foldable/device_state_configuration.xml
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

casimir_control_server: Support a unix rf server
  host/commands/casimir_control_server/casimir_controller.cpp
  host/commands/casimir_control_server/casimir_controller.h
  host/commands/casimir_control_server/main.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use unix sockets for casimir
  host/commands/run_cvd/launch/casimir.cpp
  host/commands/run_cvd/launch/casimir_control_server.cpp
  host/commands/run_cvd/launch/launch.h
  host/commands/run_cvd/launch/nfc_connector.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Update sandbox policies for casimir using unix sockets
  host/commands/process_sandboxer/policies/casimir.cpp
  host/commands/process_sandboxer/policies/casimir_control_server.cpp
  host/commands/process_sandboxer/policies/tcp_connector.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Put `casimir_control_server` entirely in the `cuttlefish` namespace
  host/commands/casimir_control_server/casimir_controller.cpp
  host/commands/casimir_control_server/main.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Order class members in `casimir_control_server`
  host/commands/casimir_control_server/casimir_controller.h
  host/commands/casimir_control_server/main.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Don't use `std::shared_ptr`s for hex strings
  host/commands/casimir_control_server/casimir_controller.cpp
  host/commands/casimir_control_server/casimir_controller.h
  host/commands/casimir_control_server/hex.cpp
  host/commands/casimir_control_server/hex.h
  host/commands/casimir_control_server/main.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Rename `utils.h` to `hex.h` in `casimir_control_server`
  host/commands/casimir_control_server/Android.bp
  host/commands/casimir_control_server/hex.cpp
  host/commands/casimir_control_server/hex.h
  host/commands/casimir_control_server/main.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Tie `CasimirController`'s initialization to its lifetime
  host/commands/casimir_control_server/casimir_controller.cpp
  host/commands/casimir_control_server/casimir_controller.h
  host/commands/casimir_control_server/main.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Deduplicate `Result`-to-`Status` conversion in casimir_control_server
  host/commands/casimir_control_server/main.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Remove |ro.hardware.| prefix in KM VM sys property
  guest/services/trusty_security_vm_launcher/trusty_security_vm_launcher.rc
  shared/config/init.vendor.rc
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add AuthMgr AIDL to the KnownMissingAidl
  tests/hal/hal_implementation_test.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Adds --log_file flag.
  frontend/src/host_orchestrator/main.go
Owners: @jemoreira, @ser-io

Avoid empty cvd_bugreport_build.log.
  host/commands/host_bugreport/main.cc
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Adds --log_file flag.
  frontend/src/host_orchestrator/main.go
Owners: @jemoreira, @ser-io

Decrease the trusty security VM memory
  guest/services/trusty_security_vm_launcher/trusty_security_vm_launcher.rc
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Update kernel module paths
  shared/BoardConfig.mk
  shared/minidroid/BoardConfig.mk
  vsoc_riscv64/BoardConfig.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

sepolicy definitions for WV Trusty VM
  shared/sepolicy/system_ext/private/file_contexts
  shared/sepolicy/system_ext/private/secure_storage_system.te
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add merge-group event to support merge queues
  .github/workflows/presubmit.yaml
Owners: @jemoreira, @ser-io

[uwb-overlay] Support multicast list update rsp v2 on cf
  shared/overlays/uwb/res/values/config.xml
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add merge-group event to support merge queues
  .github/workflows/presubmit.yaml
Owners: @jemoreira, @ser-io

Revert "Update kernel module paths"
  shared/BoardConfig.mk
  shared/minidroid/BoardConfig.mk
  vsoc_riscv64/BoardConfig.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add event for job to run with merge queue
  .github/workflows/artifacts.yaml
Owners: @jemoreira, @ser-io

.github/CODEOWNERS:

# refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# overall code owners
* @Databean @jemoreira @rmuthiah @jmacnak @adelva1984

# cvd
/base/cvd @Databean @rmuthiah @jemoreira @ser-io

# github workflows
/.github/workflows/ @jemoreira @ser-io

# docker TLs
/docker/ @jemoreira @ikicha @0405ysj @Databean

# host orchestration TLs
/frontend/ @jemoreira @ser-io

# WebUI Owners
/frontend/src/operator/webui/ @jemoreira @ikicha
