Repository google/android-cuttlefish, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io, @ikicha, @0405ysj

Move command handling logic out of StatusFetcher
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/fleet.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/utils.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Expose group properties in the instance class
  base/cvd/cuttlefish/host/commands/cvd/common_utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/common_utils.h
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_group_record.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_record.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_record.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove egrep usage
  common/libs/utils/network.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Refactor *BuidApi to utilize an interface
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/libs/web/BUILD.bazel
  base/cvd/cuttlefish/host/libs/web/android_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/android_build_api.h
  base/cvd/cuttlefish/host/libs/web/build_api.h
  base/cvd/cuttlefish/host/libs/web/caching_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/caching_build_api.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove egrep usage
  base/cvd/cuttlefish/common/libs/utils/network.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove egrep usage
  base/cvd/cuttlefish/common/libs/utils/network.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Make PLATFORM variable set to local arch by default
  .github/workflows/artifacts.yaml
  README.md
  docker/image-builder.sh
Owners: @jemoreira, @ser-io, @Databean, @rmuthiah, @jmacnak, @adelva1984, @ikicha, @0405ysj

Remove arch being set in buildx
  .github/workflows/artifacts.yaml
  docker/image-builder.sh
Owners: @jemoreira, @ser-io, @ikicha, @0405ysj, @Databean

Disable CBS V4 on cuttlefish
  shared/tv/device_vendor.mk
  vsoc_x86/BoardConfig.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Revert "Enable Media Quality Service on Cuttlefish"
  shared/tv/device_vendor.mk
  tests/hal/hal_implementation_test.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Let the caller to set the build api credentials.
  e2etests/orchestration/create_from_images_zip_test/main_test.go
  e2etests/orchestration/create_local_image_test/main_test.go
  e2etests/orchestration/create_single_instance_test/main_test.go
  e2etests/orchestration/snapshot_test/main_test.go
  frontend/src/libhoclient/host_orchestrator_client.go
  frontend/src/libhoclient/host_orchestrator_client_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io

Let the caller to set the build api credentials.
  e2etests/orchestration/create_from_images_zip_test/main_test.go
  e2etests/orchestration/create_local_image_test/main_test.go
  e2etests/orchestration/create_single_instance_test/main_test.go
  e2etests/orchestration/snapshot_test/main_test.go
  frontend/src/libhoclient/host_orchestrator_client.go
  frontend/src/libhoclient/host_orchestrator_client_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io

Apply staticchecker linter and resolve styling issues. (#234)
  client.go
  client_test.go
  types.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add tests to webrtcclient
  client_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Fix typo (#168)
  types.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Fix Staticcheck Linter Issues for Improved Code Quality (#235)
  client_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use local ICE config. (#169)
  types.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Address review comments
  client.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add webrtc client library
  client.go
  types.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Replace interface{} with any
  client.go
  client_test.go
  types.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Remove some debug prints
  client.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Refactor Reshape to use generics
  client.go
  client_test.go
  types.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Make webrtc library log to the log files
  client.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Ensure goroutines stop when the webrtc connection is dropped
  client.go
  client_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Removes non-hermetic unit test. (#69)
  client_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add more logging for cvdr connection agent
  client.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Move webrtcclient imported files to libhoclient.
  frontend/src/libhoclient/webrtcclient/BUILD.bazel
  frontend/src/libhoclient/webrtcclient/client.go
  frontend/src/libhoclient/webrtcclient/client_test.go
  frontend/src/libhoclient/webrtcclient/types.go
Owners: @jemoreira, @ser-io

Don't pass by value to Close()
  client.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Replace interface{} with any
  client.go
  client_test.go
  types.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Fix typo (#168)
  types.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Make webrtc library log to the log files
  client.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Remove some debug prints
  client.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Apply staticchecker linter and resolve styling issues. (#234)
  client.go
  client_test.go
  types.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Move webrtcclient imported files to libhoclient.
  frontend/src/libhoclient/webrtcclient/BUILD.bazel
  frontend/src/libhoclient/webrtcclient/client.go
  frontend/src/libhoclient/webrtcclient/client_test.go
  frontend/src/libhoclient/webrtcclient/types.go
Owners: @jemoreira, @ser-io

Add webrtc client library
  client.go
  types.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Fix Staticcheck Linter Issues for Improved Code Quality (#235)
  client_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Address review comments
  client.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Don't pass by value to Close()
  client.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add tests to webrtcclient
  client_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Removes non-hermetic unit test. (#69)
  client_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

.github/CODEOWNERS:

# refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# overall code owners
* @Databean @jemoreira @rmuthiah @jmacnak @adelva1984

# cvd
/base/cvd @Databean @rmuthiah @jemoreira @ser-io

# github workflows
/.github/workflows/ @jemoreira @ser-io

# docker TLs
/docker/ @jemoreira @ikicha @0405ysj @Databean

# host orchestration TLs
/frontend/ @jemoreira @ser-io

# WebUI Owners
/frontend/src/operator/webui/ @jemoreira @ikicha
