Repository google/android-cuttlefish, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io, @ikicha, @0405ysj

Convert cvd create flags to absolute paths
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/create.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Restore help interception functionality
  base/cvd/cuttlefish/host/commands/cvd/cvd.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Convert cvd create flags to absolute paths
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/create.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Mark 0.9.31 branch as stable
  base/debian/changelog
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Mark 0.9.31 branch as stable
  base/debian/changelog
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

clang-tidy in `.bazelrc` and a github workflow
  .github/workflows/presubmit.yaml
  base/cvd/.bazelrc
  base/cvd/.clang-tidy
  base/cvd/BUILD.bazel
  base/cvd/MODULE.bazel
Owners: @jemoreira, @ser-io, @Databean, @rmuthiah

Cope with new KeyMint tag
  guest/hals/keymint/remote/remote_keymint_device.cpp
  host/commands/secure_env/tpm_key_blob_maker.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

clang-tidy in `.bazelrc` and a github workflow
  .github/workflows/presubmit.yaml
  base/cvd/.bazelrc
  base/cvd/.clang-tidy
  base/cvd/BUILD.bazel
  base/cvd/MODULE.bazel
Owners: @jemoreira, @ser-io, @Databean, @rmuthiah

Enable `clang-diagnostic-inconsistent-missing-override`
  base/cvd/.clang-tidy
  base/cvd/cuttlefish/host/libs/web/caching_build_api.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `clang-diagnostic-unused-private-field`
  base/cvd/.clang-tidy
  base/cvd/MODULE.bazel.lock
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/try_acloud.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/try_acloud.h
  base/cvd/cuttlefish/host/commands/cvd/cli/request_context.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `clang-diagnostic-unneeded-internal-declaration`
  base/cvd/.clang-tidy
  base/cvd/cuttlefish/host/libs/web/http_client/http_client.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `clang-analyzer-deadcode.DeadStores`
  base/cvd/.clang-tidy
  base/cvd/cuttlefish/common/libs/utils/files.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/cmd_list.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Revert "Change how hibernation image is generated"
  shared/BoardConfig.mk
  shared/auto/Android.bp
  shared/auto/device_vendor.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Enable `clang-analyzer-deadcode.DeadStores`
  base/cvd/.clang-tidy
  base/cvd/cuttlefish/common/libs/utils/files.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/cmd_list.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `clang-diagnostic-inconsistent-missing-override`
  base/cvd/.clang-tidy
  base/cvd/cuttlefish/host/libs/web/caching_build_api.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `clang-diagnostic-unused-private-field`
  base/cvd/.clang-tidy
  base/cvd/MODULE.bazel.lock
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/try_acloud.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/try_acloud.h
  base/cvd/cuttlefish/host/commands/cvd/cli/request_context.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `clang-diagnostic-unneeded-internal-declaration`
  base/cvd/.clang-tidy
  base/cvd/cuttlefish/host/libs/web/http_client/http_client.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Ignore all Android.mk files in aosp_cf phone products of vsoc_x86_64 and vsoc_x86_64_only
  vsoc_x86_64/phone/aosp_cf.mk
  vsoc_x86_64_only/phone/aosp_cf.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

blocklist dummy-cpufreq.ko for aarch64 cf targets
  shared/BoardConfig.mk
  shared/modules_aarch64.blocklist
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Support apt install in docker image
  .github/workflows/artifacts.yaml
  .github/workflows/presubmit.yaml
  docker/BUILD.bazel
  docker/Dockerfile
  docker/image-build-bazel-wrapper.sh
  docker/image-builder.sh
  e2etests/orchestration/common/common.go
  e2etests/orchestration/create_from_images_zip_test/BUILD.bazel
  e2etests/orchestration/create_local_image_test/BUILD.bazel
  e2etests/orchestration/create_single_instance_test/def.bzl
  e2etests/orchestration/snapshot_test/BUILD.bazel
Owners: @jemoreira, @ser-io, @ikicha, @0405ysj, @Databean, @rmuthiah, @jmacnak, @adelva1984

Add `CuttlefishConfig::EnvironmentSpecific::casimir{nci,rf}::socket_path`
  host/libs/config/cuttlefish_config.h
  host/libs/config/cuttlefish_config_environment.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

tcp_connector: support unix sockets
  host/commands/tcp_connector/main.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use the fluent Command syntax for launching casimir
  host/commands/run_cvd/launch/casimir.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Support apt install in docker image
  .github/workflows/artifacts.yaml
  .github/workflows/presubmit.yaml
  docker/BUILD.bazel
  docker/Dockerfile
  docker/image-build-bazel-wrapper.sh
  docker/image-builder.sh
  e2etests/orchestration/common/common.go
  e2etests/orchestration/create_from_images_zip_test/BUILD.bazel
  e2etests/orchestration/create_local_image_test/BUILD.bazel
  e2etests/orchestration/create_single_instance_test/def.bzl
  e2etests/orchestration/snapshot_test/BUILD.bazel
Owners: @jemoreira, @ser-io, @ikicha, @0405ysj, @Databean, @rmuthiah, @jmacnak, @adelva1984

Rename system property to enable KeyMint VM
  guest/services/trusty_security_vm_launcher/trusty_security_vm_launcher.rc
  shared/config/init.vendor.rc
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Mark 1.0.0 as stable
  base/debian/changelog
  frontend/debian/changelog
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io

Mark 1.0.0 as stable
  base/debian/changelog
  frontend/debian/changelog
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io

Mark 1.0.0 as stable
  base/debian/changelog
  frontend/debian/changelog
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io

Mark 1.0.0 as stable
  base/debian/changelog
  frontend/debian/changelog
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io

Make division between `Checks` and `WarningsAsErrors` cleaner in clang-tidy
  base/cvd/.clang-tidy
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `readability-container-size-empty`
  base/cvd/.clang-tidy
  base/cvd/cuttlefish/common/libs/fs/shared_fd.cpp
  base/cvd/cuttlefish/common/libs/utils/archive.cpp
  base/cvd/cuttlefish/common/libs/utils/files.cpp
  base/cvd/cuttlefish/common/libs/utils/flag_parser.cpp
  base/cvd/cuttlefish/common/libs/utils/unix_sockets.cpp
  base/cvd/cuttlefish/host/commands/cvd/acloud/converter.cpp
  base/cvd/cuttlefish/host/commands/cvd/acloud/create_converter_parser.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/acloud_command.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/acloud_mixsuperimage.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/parser/launch_cvd_templates.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/parser/load_configs_parser.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/cvd.cpp
  base/cvd/cuttlefish/host/libs/config/instance_nums.cpp
  base/cvd/cuttlefish/host/libs/directories/xdg.cpp
  base/cvd/cuttlefish/host/libs/web/android_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `readability-avoid-const-params-in-decls`
  base/cvd/.clang-tidy
  base/cvd/cuttlefish/common/libs/fs/shared_buf.h
  base/cvd/cuttlefish/common/libs/fs/shared_fd.h
  base/cvd/cuttlefish/common/libs/utils/files.h
  base/cvd/cuttlefish/common/libs/utils/flag_parser.h
  base/cvd/cuttlefish/common/libs/utils/proc_file_utils.h
  base/cvd/cuttlefish/common/libs/utils/subprocess.h
  base/cvd/cuttlefish/common/libs/utils/tcp_socket.h
  base/cvd/cuttlefish/common/libs/utils/tee_logging.h
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/arguments_separator.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/arguments_separator.h
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/start_selector_parser.h
  base/cvd/cuttlefish/host/commands/cvd/cvd.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_utils.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_group_record.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_lock.h
  base/cvd/cuttlefish/host/commands/cvd/legacy/client.h
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/instance_database_helper.h
  base/cvd/cuttlefish/host/commands/cvd/utils/common.cpp
  base/cvd/cuttlefish/host/commands/cvd/utils/common.h
  base/cvd/cuttlefish/host/libs/config/config_utils.h
  base/cvd/cuttlefish/host/libs/config/cuttlefish_config.h
  base/cvd/cuttlefish/host/libs/web/android_build_api.h
  base/cvd/cuttlefish/host/libs/web/caching_build_api.h
  base/cvd/cuttlefish/host/libs/web/credential_source.h
  base/cvd/cuttlefish/host/libs/web/http_client/http_client.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `readability-inconsistent-declaration-parameter-name`
  base/cvd/.clang-tidy
  base/cvd/cuttlefish/common/libs/fs/shared_fd.h
  base/cvd/cuttlefish/common/libs/fs/shared_fd_stream.cpp
  base/cvd/cuttlefish/common/libs/utils/files.h
  base/cvd/cuttlefish/common/libs/utils/flag_parser.cpp
  base/cvd/cuttlefish/common/libs/utils/flag_parser.h
  base/cvd/cuttlefish/common/libs/utils/subprocess.cpp
  base/cvd/cuttlefish/common/libs/utils/subprocess.h
  base/cvd/cuttlefish/common/libs/utils/tee_logging.cpp
  base/cvd/cuttlefish/common/libs/utils/tee_logging.h
  base/cvd/cuttlefish/host/commands/cvd/cli/command_request.h
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/help.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/frontline_parser.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/frontline_parser.h
  base/cvd/cuttlefish/host/commands/cvd/cli/parser/cf_configs_instances.h
  base/cvd/cuttlefish/host/commands/cvd/cli/parser/instance/cf_security_configs.h
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/creation_analyzer.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/creation_analyzer.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.h
  base/cvd/cuttlefish/host/commands/cvd/instances/reset_client_utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/reset_client_utils.h
  base/cvd/cuttlefish/host/libs/config/config_utils.h
  base/cvd/cuttlefish/host/libs/web/android_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `readability-const-return-type`
  base/cvd/.clang-tidy
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `readability-const-return-type`
  base/cvd/.clang-tidy
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Make division between `Checks` and `WarningsAsErrors` cleaner in clang-tidy
  base/cvd/.clang-tidy
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `readability-container-size-empty`
  base/cvd/.clang-tidy
  base/cvd/cuttlefish/common/libs/fs/shared_fd.cpp
  base/cvd/cuttlefish/common/libs/utils/archive.cpp
  base/cvd/cuttlefish/common/libs/utils/files.cpp
  base/cvd/cuttlefish/common/libs/utils/flag_parser.cpp
  base/cvd/cuttlefish/common/libs/utils/unix_sockets.cpp
  base/cvd/cuttlefish/host/commands/cvd/acloud/converter.cpp
  base/cvd/cuttlefish/host/commands/cvd/acloud/create_converter_parser.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/acloud_command.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/acloud_mixsuperimage.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/parser/launch_cvd_templates.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/parser/load_configs_parser.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/cvd.cpp
  base/cvd/cuttlefish/host/libs/config/instance_nums.cpp
  base/cvd/cuttlefish/host/libs/directories/xdg.cpp
  base/cvd/cuttlefish/host/libs/web/android_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `readability-inconsistent-declaration-parameter-name`
  base/cvd/.clang-tidy
  base/cvd/cuttlefish/common/libs/fs/shared_fd.h
  base/cvd/cuttlefish/common/libs/fs/shared_fd_stream.cpp
  base/cvd/cuttlefish/common/libs/utils/files.h
  base/cvd/cuttlefish/common/libs/utils/flag_parser.cpp
  base/cvd/cuttlefish/common/libs/utils/flag_parser.h
  base/cvd/cuttlefish/common/libs/utils/subprocess.cpp
  base/cvd/cuttlefish/common/libs/utils/subprocess.h
  base/cvd/cuttlefish/common/libs/utils/tee_logging.cpp
  base/cvd/cuttlefish/common/libs/utils/tee_logging.h
  base/cvd/cuttlefish/host/commands/cvd/cli/command_request.h
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/help.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/frontline_parser.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/frontline_parser.h
  base/cvd/cuttlefish/host/commands/cvd/cli/parser/cf_configs_instances.h
  base/cvd/cuttlefish/host/commands/cvd/cli/parser/instance/cf_security_configs.h
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/creation_analyzer.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/creation_analyzer.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.h
  base/cvd/cuttlefish/host/commands/cvd/instances/reset_client_utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/reset_client_utils.h
  base/cvd/cuttlefish/host/libs/config/config_utils.h
  base/cvd/cuttlefish/host/libs/web/android_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `readability-avoid-const-params-in-decls`
  base/cvd/.clang-tidy
  base/cvd/cuttlefish/common/libs/fs/shared_buf.h
  base/cvd/cuttlefish/common/libs/fs/shared_fd.h
  base/cvd/cuttlefish/common/libs/utils/files.h
  base/cvd/cuttlefish/common/libs/utils/flag_parser.h
  base/cvd/cuttlefish/common/libs/utils/proc_file_utils.h
  base/cvd/cuttlefish/common/libs/utils/subprocess.h
  base/cvd/cuttlefish/common/libs/utils/tcp_socket.h
  base/cvd/cuttlefish/common/libs/utils/tee_logging.h
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/arguments_separator.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/arguments_separator.h
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/start_selector_parser.h
  base/cvd/cuttlefish/host/commands/cvd/cvd.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_utils.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_group_record.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_lock.h
  base/cvd/cuttlefish/host/commands/cvd/legacy/client.h
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/instance_database_helper.h
  base/cvd/cuttlefish/host/commands/cvd/utils/common.cpp
  base/cvd/cuttlefish/host/commands/cvd/utils/common.h
  base/cvd/cuttlefish/host/libs/config/config_utils.h
  base/cvd/cuttlefish/host/libs/config/cuttlefish_config.h
  base/cvd/cuttlefish/host/libs/web/android_build_api.h
  base/cvd/cuttlefish/host/libs/web/caching_build_api.h
  base/cvd/cuttlefish/host/libs/web/credential_source.h
  base/cvd/cuttlefish/host/libs/web/http_client/http_client.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add vulkan snapshot tests
  tests/graphics/Android.bp
  tests/graphics/src/com/android/cuttlefish/tests/CuttlefishVulkanSnapshotTests.java
  tests/graphics/vulkan/Android.bp
  tests/graphics/vulkan/common.h
  tests/graphics/vulkan/fullscreen_color/Android.bp
  tests/graphics/vulkan/fullscreen_color/AndroidManifest.xml
  tests/graphics/vulkan/fullscreen_color/fullscreen_color.cpp
  tests/graphics/vulkan/fullscreen_color/fullscreen_color.frag
  tests/graphics/vulkan/fullscreen_color/fullscreen_color.frag.inl
  tests/graphics/vulkan/fullscreen_color/fullscreen_color.frag.spv
  tests/graphics/vulkan/fullscreen_color/fullscreen_color.h
  tests/graphics/vulkan/fullscreen_color/fullscreen_color.vert
  tests/graphics/vulkan/fullscreen_color/fullscreen_color.vert.inl
  tests/graphics/vulkan/fullscreen_color/fullscreen_color.vert.spv
  tests/graphics/vulkan/fullscreen_texture/Android.bp
  tests/graphics/vulkan/fullscreen_texture/AndroidManifest.xml
  tests/graphics/vulkan/fullscreen_texture/fullscreen_texture.cpp
  tests/graphics/vulkan/fullscreen_texture/fullscreen_texture.frag
  tests/graphics/vulkan/fullscreen_texture/fullscreen_texture.frag.inl
  tests/graphics/vulkan/fullscreen_texture/fullscreen_texture.frag.spv
  tests/graphics/vulkan/fullscreen_texture/fullscreen_texture.h
  tests/graphics/vulkan/fullscreen_texture/fullscreen_texture.vert
  tests/graphics/vulkan/fullscreen_texture/fullscreen_texture.vert.inl
  tests/graphics/vulkan/fullscreen_texture/fullscreen_texture.vert.spv
  tests/graphics/vulkan/image.cpp
  tests/graphics/vulkan/image.h
  tests/graphics/vulkan/main.cpp
  tests/graphics/vulkan/process_shaders.sh
  tests/graphics/vulkan/sample_base.cpp
  tests/graphics/vulkan/sample_base.h
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

.github/CODEOWNERS:

# refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# overall code owners
* @Databean @jemoreira @rmuthiah @jmacnak @adelva1984

# cvd
/base/cvd @Databean @rmuthiah @jemoreira @ser-io

# github workflows
/.github/workflows/ @jemoreira @ser-io

# docker TLs
/docker/ @jemoreira @ikicha @0405ysj @Databean

# host orchestration TLs
/frontend/ @jemoreira @ser-io

# WebUI Owners
/frontend/src/operator/webui/ @jemoreira @ikicha
