Repository google/android-cuttlefish, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io, @ikicha, @0405ysj

Add parsing for freq_domain and cgroups
  host/libs/vm_manager/crosvm_manager.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Radio: bump rest of declared AIDL services
  guest/hals/ril/reference-libril/android.hardware.radio@2.1.xml
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Radio: bump rest of declared AIDL services
  guest/hals/ril/reference-libril/android.hardware.radio@2.1.xml
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Begin development on unreleased version 1.1.0
  base/debian/changelog
  frontend/debian/changelog
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io

Update overrides in vsoc_arm boardconfig
  vsoc_arm/BoardConfig.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Make `HostTargetTools` reference arguments `const`
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Make `HostTargetTools` reference arguments `const`
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Revert "Changed how hibernation image is generated"
  shared/BoardConfig.mk
  shared/auto/Android.bp
  shared/auto/device_vendor.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add wheel event handler to mouse
  host/frontend/webrtc/connection_observer.cpp
  host/frontend/webrtc/html_client/js/app.js
  host/frontend/webrtc/html_client/js/cf_webrtc.js
  host/frontend/webrtc/html_client/js/mouse.js
  host/frontend/webrtc/libdevice/connection_observer.h
  host/frontend/webrtc/libdevice/data_channels.cpp
  host/libs/confui/host_virtual_input.cc
  host/libs/input_connector/input_connector.h
  host/libs/input_connector/socket_input_connector.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Make auto_ethernet optional
  shared/auto/device_vendor.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Revert^2 "Changed how hibernation image is generated"
  shared/BoardConfig.mk
  shared/auto/Android.bp
  shared/auto/device_vendor.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Revert^3 "Changed how hibernation image is generated"
  shared/BoardConfig.mk
  shared/auto/Android.bp
  shared/auto/device_vendor.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Change how hibernation image is generated
  shared/BoardConfig.mk
  shared/auto/Android.bp
  shared/auto/device_vendor.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Create bazel project for host_orchestrator.
  frontend/src/host_orchestrator/BUILD.bazel
  frontend/src/host_orchestrator/MODULE.bazel
  frontend/src/host_orchestrator/WORKSPACE
  frontend/src/host_orchestrator/api/v1/BUILD.bazel
  frontend/src/host_orchestrator/go_repositories.bzl
  frontend/src/host_orchestrator/orchestrator/BUILD.bazel
  frontend/src/host_orchestrator/orchestrator/artifacts/BUILD.bazel
  frontend/src/host_orchestrator/orchestrator/cvd/BUILD.bazel
  frontend/src/host_orchestrator/orchestrator/debug/BUILD.bazel
  frontend/src/host_orchestrator/orchestrator/testing/BUILD.bazel
Owners: @jemoreira, @ser-io

Use local liboperator and host_orchestrator/api/v1 packages.
  frontend/src/libhoclient/BUILD.bazel
  frontend/src/libhoclient/WORKSPACE
  frontend/src/libhoclient/deps.bzl
Owners: @jemoreira, @ser-io

Create bazel project for liboperator.
  frontend/src/liboperator/BUILD.bazel
  frontend/src/liboperator/MODULE.bazel
  frontend/src/liboperator/WORKSPACE
  frontend/src/liboperator/api/v1/BUILD.bazel
  frontend/src/liboperator/go_repositories.bzl
  frontend/src/liboperator/operator/BUILD.bazel
  frontend/src/liboperator/protobuf/BUILD.bazel
Owners: @jemoreira, @ser-io

Use local host_orchestrator/api/v1 package in e2etests.
  e2etests/BUILD.bazel
  e2etests/WORKSPACE
  e2etests/go_repositories.bzl
  e2etests/orchestration/create_from_images_zip_test/BUILD.bazel
  e2etests/orchestration/create_local_image_test/BUILD.bazel
  e2etests/orchestration/create_single_instance_test/def.bzl
  e2etests/orchestration/snapshot_test/BUILD.bazel
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use host orchestrator api objects.
  e2etests/orchestration/snapshot_test/main_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add a `early_tmp_dir` flag to control file locations
  host/commands/assemble_cvd/boot_image_utils.cc
  host/commands/assemble_cvd/boot_image_utils.h
  host/commands/assemble_cvd/flags.cc
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use local liboperator and host_orchestrator/api/v1 packages.
  frontend/src/libhoclient/BUILD.bazel
  frontend/src/libhoclient/WORKSPACE
  frontend/src/libhoclient/deps.bzl
Owners: @jemoreira, @ser-io

Use host orchestrator api objects.
  e2etests/orchestration/snapshot_test/main_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Create bazel project for host_orchestrator.
  frontend/src/host_orchestrator/BUILD.bazel
  frontend/src/host_orchestrator/MODULE.bazel
  frontend/src/host_orchestrator/WORKSPACE
  frontend/src/host_orchestrator/api/v1/BUILD.bazel
  frontend/src/host_orchestrator/go_repositories.bzl
  frontend/src/host_orchestrator/orchestrator/BUILD.bazel
  frontend/src/host_orchestrator/orchestrator/artifacts/BUILD.bazel
  frontend/src/host_orchestrator/orchestrator/cvd/BUILD.bazel
  frontend/src/host_orchestrator/orchestrator/debug/BUILD.bazel
  frontend/src/host_orchestrator/orchestrator/testing/BUILD.bazel
Owners: @jemoreira, @ser-io

Create bazel project for liboperator.
  frontend/src/liboperator/BUILD.bazel
  frontend/src/liboperator/MODULE.bazel
  frontend/src/liboperator/WORKSPACE
  frontend/src/liboperator/api/v1/BUILD.bazel
  frontend/src/liboperator/go_repositories.bzl
  frontend/src/liboperator/operator/BUILD.bazel
  frontend/src/liboperator/protobuf/BUILD.bazel
Owners: @jemoreira, @ser-io

Use local host_orchestrator/api/v1 package in e2etests.
  e2etests/BUILD.bazel
  e2etests/WORKSPACE
  e2etests/go_repositories.bzl
  e2etests/orchestration/create_from_images_zip_test/BUILD.bazel
  e2etests/orchestration/create_local_image_test/BUILD.bazel
  e2etests/orchestration/create_single_instance_test/def.bzl
  e2etests/orchestration/snapshot_test/BUILD.bazel
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Check contents of config file from home
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/start.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Check contents of config file from home
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/start.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Check contents of config file from home
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/start.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove `/tmp` mount in `assemble_cvd` or `avbtool`
  host/commands/assemble_cvd/assemble_cvd.cc
  host/commands/process_sandboxer/main.cpp
  host/commands/process_sandboxer/policies.cpp
  host/commands/process_sandboxer/policies.h
  host/commands/process_sandboxer/policies/assemble_cvd.cpp
  host/commands/process_sandboxer/policies/avbtool.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Check contents of config file from home
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/start.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Cover powerwash, stop and start operations in host orchestrator client.
  e2etests/orchestration/snapshot_test/main_test.go
  frontend/src/libhoclient/go.mod
  frontend/src/libhoclient/go.sum
  frontend/src/libhoclient/host_orchestrator_client.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io

Cover create snapshot operation in host orchestrator client.
  frontend/src/libhoclient/host_orchestrator_client.go
Owners: @jemoreira, @ser-io

Delete CF hal_{gatekeeper,keymint}_default.te files
  shared/sepolicy/vendor/hal_gatekeeper_default.te
  shared/sepolicy/vendor/hal_keymint_default.te
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use v4 of upload/download-artifact github actions
  .github/workflows/artifacts.yaml
  .github/workflows/presubmit.yaml
Owners: @jemoreira, @ser-io

Move frequency domain crosvm arguments to a separate file
  host/libs/vm_manager/Android.bp
  host/libs/vm_manager/crosvm_cpu.cpp
  host/libs/vm_manager/crosvm_cpu.h
  host/libs/vm_manager/crosvm_manager.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add `CrosvmBuilder` commands for cpu flags
  host/libs/vm_manager/crosvm_builder.cpp
  host/libs/vm_manager/crosvm_builder.h
  host/libs/vm_manager/crosvm_manager.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Cover create snapshot operation in host orchestrator client.
  frontend/src/libhoclient/host_orchestrator_client.go
Owners: @jemoreira, @ser-io

Cover powerwash, stop and start operations in host orchestrator client.
  e2etests/orchestration/snapshot_test/main_test.go
  frontend/src/libhoclient/go.mod
  frontend/src/libhoclient/go.sum
  frontend/src/libhoclient/host_orchestrator_client.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io

Use v4 of upload/download-artifact github actions
  .github/workflows/artifacts.yaml
  .github/workflows/presubmit.yaml
Owners: @jemoreira, @ser-io

Disable prime shader cache for CF
  shared/graphics/device_vendor.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add a `directories` library following the XDG Base Directory Specification
  base/cvd/cuttlefish/host/libs/directories/BUILD.bazel
  base/cvd/cuttlefish/host/libs/directories/xdg.cpp
  base/cvd/cuttlefish/host/libs/directories/xdg.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

.github/CODEOWNERS:

# refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# overall code owners
* @Databean @jemoreira @rmuthiah @jmacnak @adelva1984

# cvd
/base/cvd @Databean @rmuthiah @jemoreira @ser-io

# github workflows
/.github/workflows/ @jemoreira @ser-io

# docker TLs
/docker/ @jemoreira @ikicha @0405ysj @Databean

# host orchestration TLs
/frontend/ @jemoreira @ser-io

# WebUI Owners
/frontend/src/operator/webui/ @jemoreira @ikicha
