Repository google/android-cuttlefish, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io, @ikicha, @0405ysj

Support user project override (#698)
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd_parser.cc
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd_parser.h
  base/cvd/cuttlefish/host/commands/cvd/parser/fetch_config_parser.cpp
  base/cvd/cuttlefish/host/commands/cvd/parser/load_config.proto
  base/cvd/cuttlefish/host/commands/cvd/parser/load_configs_parser.cpp
  base/cvd/cuttlefish/host/commands/cvd/parser/load_configs_parser.h
  base/cvd/cuttlefish/host/libs/web/android_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/android_build_api.h
  base/cvd/cuttlefish/host/libs/web/caching_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/caching_build_api.h
  frontend/src/host_orchestrator/orchestrator/controller.go
  frontend/src/host_orchestrator/orchestrator/createcvdaction.go
  frontend/src/host_orchestrator/orchestrator/instancemanager.go
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Revert^3 "Drop guest-side socket_vsock_proxy"
  common/frontend/socket_vsock_proxy/Android.bp
  common/frontend/socket_vsock_proxy/socket_vsock_proxy.cpp
  host/libs/config/adb/adb.h
  host/libs/config/adb/flags.cpp
  host/libs/config/adb/launch.cpp
  host/libs/config/adb/strings.cpp
  host/libs/config/adb/test.cpp
  shared/config/init.vendor.rc
  shared/device.mk
  shared/sepolicy/vendor/file_contexts
  shared/sepolicy/vendor/socket_vsock_proxy.te
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add back drm hwcomposer support
  host/commands/assemble_cvd/bootconfig_args.cpp
  shared/graphics/device_vendor.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add support for vvmtruststore partition to Cuttlefish
  host/commands/assemble_cvd/assemble_cvd.cc
  host/commands/assemble_cvd/disk_flags.cc
  host/commands/assemble_cvd/flags_defaults.h
  host/libs/config/cuttlefish_config.h
  host/libs/config/cuttlefish_config_instance.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Don't print fetch logs to stderr on load command
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.h
  base/cvd/cuttlefish/host/commands/cvd/main.cc
  base/cvd/cuttlefish/host/commands/cvd/server_command/fetch.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/load_configs.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Prevent non fetch logs to end up in fetch.log
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/load_configs.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Prevent non fetch logs to end up in fetch.log
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/load_configs.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Don't print fetch logs to stderr on load command
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.h
  base/cvd/cuttlefish/host/commands/cvd/main.cc
  base/cvd/cuttlefish/host/commands/cvd/server_command/fetch.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/load_configs.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add stderr of cvd executions to HO logs.
  frontend/src/host_orchestrator/orchestrator/cvd/cvd.go
Owners: @jemoreira, @ser-io

Export host orchestrator logs as an e2e test artifact.
  e2etests/orchestration/common.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Export host orchestrator logs as an e2e test artifact.
  e2etests/orchestration/common.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add stderr of cvd executions to HO logs.
  frontend/src/host_orchestrator/orchestrator/cvd/cvd.go
Owners: @jemoreira, @ser-io

Populate shared desktop directory
  shared/desktop/OWNERS
  shared/desktop/device_vendor.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Fix build with fmtlib 11.0.2
  common/libs/utils/flag_parser.cpp
  common/libs/utils/network.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add more log output to `cvd fetch` stderr
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/libs/web/http_client/http_client.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add vsoc_arm target to be used by Wear targets
  vsoc_arm/BoardConfig.mk
  vsoc_arm/bootloader.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add more log output to `cvd fetch` stderr
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/libs/web/http_client/http_client.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Disable acloud-translator so that acloud would always execute the Python codes.
  base/cvd/cuttlefish/host/commands/cvd/run_server.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/try_acloud.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Make fetch_cvd be the same as cvd fetch
  base/cvd/cuttlefish/host/commands/cvd/main.cc
  base/cvd/cuttlefish/host/commands/cvd/server_command/help.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Reduce logging severity in the build api client
  base/cvd/cuttlefish/host/libs/web/android_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/http_client/http_client.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Log end of http requests
  base/cvd/cuttlefish/common/libs/utils/tee_logging.cpp
  base/cvd/cuttlefish/host/libs/web/http_client/http_client.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Refactor cvd fetch logging
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/fetch.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/load_configs.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Allow setting a console logging severity directly in TeeLogger
  base/cvd/cuttlefish/common/libs/utils/tee_logging.cpp
  base/cvd/cuttlefish/common/libs/utils/tee_logging.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add overlay xml file to fix test error for cuttlefish
  shared/phone/overlay/packages/apps/Settings/res/values/arrays.xml
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Setup ethernet for cf_auto target.
  guest/hals/vehicle/Android.bp
  guest/hals/vehicle/VehicleService.cpp
  guest/hals/vehicle/android.hardware.automotive.vehicle@V3-cf-service.rc
  guest/hals/vehicle/apex/com.android.hardware.automotive.vehicle.cf.rc
  host/commands/assemble_cvd/bootconfig_args.cpp
  host/commands/assemble_cvd/flags.cc
  host/commands/run_cvd/launch/vhal_proxy_server.cpp
  host/commands/vhal_proxy_server/Android.bp
  host/commands/vhal_proxy_server/debug/VhalProxyServerCmd.cpp
  host/commands/vhal_proxy_server/vhal_proxy_server.cpp
  host/libs/vhal_proxy_server/vhal_proxy_server_eth_addr.h
  shared/auto/auto_ethernet/Android.bp
  shared/auto/auto_ethernet/ethernet.rc
  shared/auto/auto_ethernet/ethernet.sh
  shared/auto/auto_ethernet/ethernet_auto_eth.sh
  shared/auto/device_vendor.mk
  shared/auto/rro_overlay/ConnectivityOverlay/res/values/config.xml
  shared/auto/sepolicy/system_ext/private/ethernet.te
  shared/auto/sepolicy/system_ext/private/file.te
  shared/auto/sepolicy/system_ext/private/file_contexts
  shared/auto/sepolicy/system_ext/private/genfs_contexts
  shared/auto/sepolicy/system_ext/private/property.te
  shared/auto/sepolicy/system_ext/private/property_contexts
  shared/auto/sepolicy/system_ext/public/property.te
  shared/auto/sepolicy/vendor/hal_vehicle_default.te
  shared/auto/sepolicy/vendor/vendor_init.te
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use canonical copy of ABSL for WebRTC dep.
  host/frontend/webrtc/Android.bp
  host/frontend/webrtc/libcommon/Android.bp
  host/frontend/webrtc/libdevice/Android.bp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

aosp_cf_x86_64_phone uses soong defined system image
  vsoc_x86_64/phone/aosp_cf.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

[trusty] Move trusty kernel to etc/vm/trusty_vm directory
  guest/services/trusty_vm_launcher/src/main.rs
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

android-info: add prefer_drm_virgl_when_supported flag
  host/commands/assemble_cvd/flags.cc
  host/commands/assemble_cvd/flags.h
  host/commands/assemble_cvd/graphics_flags.cc
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Enable `enable_virtiofs` in environment configs.
  base/cvd/cuttlefish/host/commands/cvd/parser/instance/cf_vm_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/parser/load_config.proto
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `gpu_mode` in environment configs.
  base/cvd/cuttlefish/host/commands/cvd/parser/instance/cf_graphics_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/parser/load_config.proto
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enable `netsim_bt` in environment configs.
  base/cvd/cuttlefish/host/commands/cvd/parser/instance/cf_vm_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/parser/load_config.proto
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Create device snapshot.
  frontend/src/host_orchestrator/api/v1/messages.go
  frontend/src/host_orchestrator/main.go
  frontend/src/host_orchestrator/orchestrator/controller.go
  frontend/src/host_orchestrator/orchestrator/createsnapshotaction.go
  frontend/src/host_orchestrator/orchestrator/instancemanager.go
Owners: @jemoreira, @ser-io

Bump e2e test artifacts build id.
  e2etests/orchestration/BUILD.bazel
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Start from snapshot.
  frontend/src/host_orchestrator/api/v1/messages.go
  frontend/src/host_orchestrator/orchestrator/controller.go
  frontend/src/host_orchestrator/orchestrator/startcvdaction.go
Owners: @jemoreira, @ser-io

Use soong-built system image for aosp foldable
  vsoc_x86_64/phone/aosp_cf.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Refactor cvd fetch logging
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/fetch.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/load_configs.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Make fetch_cvd be the same as cvd fetch
  base/cvd/cuttlefish/host/commands/cvd/main.cc
  base/cvd/cuttlefish/host/commands/cvd/server_command/help.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Reduce logging severity in the build api client
  base/cvd/cuttlefish/host/libs/web/android_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/http_client/http_client.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Allow setting a console logging severity directly in TeeLogger
  base/cvd/cuttlefish/common/libs/utils/tee_logging.cpp
  base/cvd/cuttlefish/common/libs/utils/tee_logging.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

.github/CODEOWNERS:

# refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# overall code owners
* @Databean @jemoreira @rmuthiah @jmacnak @adelva1984

# cvd
/base/cvd @Databean @rmuthiah @jemoreira @ser-io

# github workflows
/.github/workflows/ @jemoreira @ser-io

# docker TLs
/docker/ @jemoreira @ikicha @0405ysj @Databean

# host orchestration TLs
/frontend/ @jemoreira @ser-io

# WebUI Owners
/frontend/src/operator/webui/ @jemoreira @ikicha
