Repository google/android-cuttlefish, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io, @ikicha, @0405ysj

Return Result from CommandRequestBuilder::Build()
  base/cvd/cuttlefish/host/commands/cvd/acloud/converter.cpp
  base/cvd/cuttlefish/host/commands/cvd/command_request.cpp
  base/cvd/cuttlefish/host/commands/cvd/command_request.h
  base/cvd/cuttlefish/host/commands/cvd/cvd.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/help.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/load_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Move home related functions out of selector_common_parser
  base/cvd/cuttlefish/host/commands/cvd/selector/device_selector_utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/device_selector_utils.h
  base/cvd/cuttlefish/host/commands/cvd/selector/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/group_selector.h
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_selector.h
  base/cvd/cuttlefish/host/commands/cvd/selector/selector_common_parser.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/selector_common_parser.h
  base/cvd/cuttlefish/host/commands/cvd/selector/start_selector_parser.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/start_selector_parser.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Move -acquire_file_lock to create subcommand
  base/cvd/cuttlefish/host/commands/cvd/selector/creation_analyzer.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/creation_analyzer.h
  base/cvd/cuttlefish/host/commands/cvd/selector/selector_constants.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/selector_constants.h
  base/cvd/cuttlefish/host/commands/cvd/selector/selector_option_parser_utils.h
  base/cvd/cuttlefish/host/commands/cvd/selector/start_selector_parser.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/start_selector_parser.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/help.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Delete unused code
  base/cvd/cuttlefish/host/commands/cvd/selector/selector_constants.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/selector_constants.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

fetch: Reduce logging verbosity.
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_tracer.cpp
  base/cvd/cuttlefish/host/libs/web/android_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/http_client/http_client.cc
  base/debian/changelog
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io, @jmacnak, @adelva1984

Remove `ExtractToMemory` from `cuttlefish::Archive`
  base/cvd/cuttlefish/common/libs/utils/archive.cpp
  base/cvd/cuttlefish/common/libs/utils/archive.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove `Archive` class
  base/cvd/cuttlefish/common/libs/utils/archive.cpp
  base/cvd/cuttlefish/common/libs/utils/archive.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Return a `Result` from `Archive::Extract*`
  base/cvd/cuttlefish/common/libs/utils/archive.cpp
  base/cvd/cuttlefish/common/libs/utils/archive.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Combine `Archive::Contents` into `Archive::ExtractFiles`
  base/cvd/cuttlefish/common/libs/utils/archive.cpp
  base/cvd/cuttlefish/common/libs/utils/archive.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Combine `Archive::Contents` into `Archive::ExtractFiles`
  base/cvd/cuttlefish/common/libs/utils/archive.cpp
  base/cvd/cuttlefish/common/libs/utils/archive.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove `Archive` class
  base/cvd/cuttlefish/common/libs/utils/archive.cpp
  base/cvd/cuttlefish/common/libs/utils/archive.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Return a `Result` from `Archive::Extract*`
  base/cvd/cuttlefish/common/libs/utils/archive.cpp
  base/cvd/cuttlefish/common/libs/utils/archive.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

fetch: Reduce logging verbosity.
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_tracer.cpp
  base/cvd/cuttlefish/host/libs/web/android_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/http_client/http_client.cc
  base/debian/changelog
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io, @jmacnak, @adelva1984

Remove `ExtractToMemory` from `cuttlefish::Archive`
  base/cvd/cuttlefish/common/libs/utils/archive.cpp
  base/cvd/cuttlefish/common/libs/utils/archive.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Rename variable names to match the style guide
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/credential_source.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Reorder fields in `credential_source.h` to match style guide
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/credential_source.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Move the `CredentialSource` class definitions into the `.cc` file
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/credential_source.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Prepare for some `CredentialSources` to become immovable.
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Protect refreshing `CredentialSource` implementations with a mutex
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Deduplicate `CredentialSource` refresh logic
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add android.media.audio.eraser.types to kAlwaysMissingAidl
  tests/hal/hal_implementation_test.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Deduplicate `CredentialSource` refresh logic
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Prepare for some `CredentialSources` to become immovable.
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Reorder fields in `credential_source.h` to match style guide
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/credential_source.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Protect refreshing `CredentialSource` implementations with a mutex
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Rename variable names to match the style guide
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/credential_source.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Move the `CredentialSource` class definitions into the `.cc` file
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/credential_source.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Pass in BuildApi credentials as unordered map
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/libs/web/android_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/android_build_api.h
  base/cvd/cuttlefish/host/libs/web/caching_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/caching_build_api.h
  base/cvd/cuttlefish/host/libs/web/credential_source.h
  base/cvd/cuttlefish/host/libs/web/luci_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/luci_build_api.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Make CachingBuildApi a class template
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/libs/web/caching_build_api.cpp
  base/cvd/cuttlefish/host/libs/web/caching_build_api.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Move SendResponse out of command_request.h/cpp
  base/cvd/cuttlefish/host/commands/cvd/client.cpp
  base/cvd/cuttlefish/host/commands/cvd/client.h
  base/cvd/cuttlefish/host/commands/cvd/command_request.cpp
  base/cvd/cuttlefish/host/commands/cvd/command_request.h
  base/cvd/cuttlefish/host/commands/cvd/run_server.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Deduplicate instances in LocalInstanceGroup
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_database.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_group_record.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_group_record.h
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

delete openwrt crosvm control socket on powerwash
  host/commands/run_cvd/server_loop_impl.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Deduplicate instances in LocalInstanceGroup
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_database.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_group_record.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_group_record.h
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Move SendResponse out of command_request.h/cpp
  base/cvd/cuttlefish/host/commands/cvd/client.cpp
  base/cvd/cuttlefish/host/commands/cvd/client.h
  base/cvd/cuttlefish/host/commands/cvd/command_request.cpp
  base/cvd/cuttlefish/host/commands/cvd/command_request.h
  base/cvd/cuttlefish/host/commands/cvd/run_server.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Delete unused files
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/demo_multi_vd.cpp
  base/cvd/cuttlefish/host/commands/cvd/demo_multi_vd.h
  base/cvd/cuttlefish/host/commands/cvd/driver_flags.cpp
  base/cvd/cuttlefish/host/commands/cvd/driver_flags.h
  base/cvd/cuttlefish/host/commands/cvd/epoll_loop.cpp
  base/cvd/cuttlefish/host/commands/cvd/epoll_loop.h
  base/cvd/cuttlefish/host/commands/cvd/logger.cpp
  base/cvd/cuttlefish/host/commands/cvd/logger.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add link for navigating how to use docker image.
  README.md
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use new Radio HALs
  guest/hals/ril/reference-libril/Android.bp
  guest/hals/ril/reference-libril/android.hardware.radio@2.1.xml
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Isolate docker build images
  .github/workflows/artifacts.yaml
  docker/image-builder.sh
Owners: @jemoreira, @ser-io, @ikicha, @0405ysj, @Databean

simplify ProcessMonitor::Properties API
  host/commands/run_cvd/server_loop_impl.cpp
  host/libs/process_monitor/process_monitor.cc
  host/libs/process_monitor/process_monitor.h
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

fix openwrt crosvm crash on CF shutdown
  host/commands/run_cvd/main.cc
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

.github/CODEOWNERS:

# refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# overall code owners
* @Databean @jemoreira @rmuthiah @jmacnak @adelva1984

# cvd
/base/cvd @Databean @rmuthiah @jemoreira @ser-io

# github workflows
/.github/workflows/ @jemoreira @ser-io

# docker TLs
/docker/ @jemoreira @ikicha @0405ysj @Databean

# host orchestration TLs
/frontend/ @jemoreira @ser-io

# WebUI Owners
/frontend/src/operator/webui/ @jemoreira @ikicha
