Repository google/android-cuttlefish, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io, @ikicha, @0405ysj

Distinguish generic credential refresh type from refresh token type
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/login.cpp
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/oauth2_consent.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Support using credentials from `cvd login` in `cvd fetch`
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/login.cpp
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/libs/directories/xdg.h
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add a `cvd login` command to acquire credentials
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/login.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/login.h
  base/cvd/cuttlefish/host/commands/cvd/cli/request_context.cpp
  base/debian/control
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io, @jmacnak, @adelva1984

Use a common build api scope string
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/credential_source.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Initialize `srand` at `cvd` startup
  base/cvd/cuttlefish/host/commands/cvd/main.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Separate oauth2 consent access out of `login.cpp`
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/login.cpp
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/libs/web/BUILD.bazel
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/credential_source.h
  base/cvd/cuttlefish/host/libs/web/oauth2_consent.cpp
  base/cvd/cuttlefish/host/libs/web/oauth2_consent.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add a `CurlGlobalInit` RAII-pattern object.
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/commands/cvd/metrics/utils.cpp
  base/cvd/cuttlefish/host/libs/web/BUILD.bazel
  base/cvd/cuttlefish/host/libs/web/http_client/curl_global_init.cpp
  base/cvd/cuttlefish/host/libs/web/http_client/curl_global_init.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add a `cvd login` command to acquire credentials
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/login.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/login.h
  base/cvd/cuttlefish/host/commands/cvd/cli/request_context.cpp
  base/debian/control
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io, @jmacnak, @adelva1984

Support using credentials from `cvd login` in `cvd fetch`
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/login.cpp
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/libs/directories/xdg.h
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Separate oauth2 consent access out of `login.cpp`
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/login.cpp
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/libs/web/BUILD.bazel
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/credential_source.h
  base/cvd/cuttlefish/host/libs/web/oauth2_consent.cpp
  base/cvd/cuttlefish/host/libs/web/oauth2_consent.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Initialize `srand` at `cvd` startup
  base/cvd/cuttlefish/host/commands/cvd/main.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add a `CurlGlobalInit` RAII-pattern object.
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/commands/cvd/metrics/utils.cpp
  base/cvd/cuttlefish/host/libs/web/BUILD.bazel
  base/cvd/cuttlefish/host/libs/web/http_client/curl_global_init.cpp
  base/cvd/cuttlefish/host/libs/web/http_client/curl_global_init.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add a `directories` library following the XDG Base Directory Specification
  base/cvd/cuttlefish/host/libs/directories/BUILD.bazel
  base/cvd/cuttlefish/host/libs/directories/xdg.cpp
  base/cvd/cuttlefish/host/libs/directories/xdg.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Distinguish generic credential refresh type from refresh token type
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/login.cpp
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/oauth2_consent.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Use a common build api scope string
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/libs/web/credential_source.cc
  base/cvd/cuttlefish/host/libs/web/credential_source.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Mark the 0.9.31 release as "stable"
  base/debian/changelog
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Revert "Delete CF hal_{gatekeeper,keymint}_default.te files"
  shared/sepolicy/vendor/hal_gatekeeper_default.te
  shared/sepolicy/vendor/hal_keymint_default.te
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Change TEST_MAPPING
  shared/auto/TEST_MAPPING
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add missing bazel dependencies for host/libs/directories
  base/cvd/cuttlefish/host/libs/directories/BUILD.bazel
  base/cvd/cuttlefish/host/libs/web/BUILD.bazel
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add missing bazel dependencies for host/libs/directories
  base/cvd/cuttlefish/host/libs/directories/BUILD.bazel
  base/cvd/cuttlefish/host/libs/web/BUILD.bazel
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Derive the number of vCPUs from the vcpu_config_path instead
  host/libs/vm_manager/crosvm_builder.cpp
  host/libs/vm_manager/crosvm_builder.h
  host/libs/vm_manager/crosvm_cpu.cpp
  host/libs/vm_manager/crosvm_cpu.h
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Run multidevice tests with Cuttlefish
  host/commands/casimir_control_server/casimir_control.proto
  host/commands/casimir_control_server/casimir_controller.cpp
  host/commands/casimir_control_server/casimir_controller.h
  host/commands/casimir_control_server/main.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Mark the 0.9.31 release as "stable"
  base/debian/changelog
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use warning instead of error for deprecated flags
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd_parser.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

cuttlefish: Update kHwComposerDrm to "drm_hwcomposer"
  host/commands/assemble_cvd/bootconfig_args.cpp
  host/libs/config/cuttlefish_config.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Set guest_soc prop at boot
  host/commands/assemble_cvd/bootconfig_args.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use warning instead of error for deprecated flags
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd_parser.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Move non-vcpu/critical tasks to workers cgroup
  host/commands/run_cvd/boot_state_machine.cc
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add the `parse_header` feature to all targets
  base/cvd/REPO.bazel
  base/cvd/cuttlefish/common/libs/utils/inotify.h
  base/cvd/libbase/include/logging_splitters.h
  base/cvd/libsparse/sparse_crc32.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enforce strict dependency checking in bazel
  base/cvd/.bazelrc
  base/cvd/MODULE.bazel
  base/cvd/MODULE.bazel.lock
  base/cvd/REPO.bazel
  base/cvd/cuttlefish/common/libs/utils/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enforce strict dependency checking in bazel
  base/cvd/.bazelrc
  base/cvd/MODULE.bazel
  base/cvd/MODULE.bazel.lock
  base/cvd/REPO.bazel
  base/cvd/cuttlefish/common/libs/utils/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add the `parse_header` feature to all targets
  base/cvd/REPO.bazel
  base/cvd/cuttlefish/common/libs/utils/inotify.h
  base/cvd/libbase/include/logging_splitters.h
  base/cvd/libsparse/sparse_crc32.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Hold the lock on the mutex only while accessing the data
  host/frontend/webrtc/display_handler.cpp
  host/frontend/webrtc/display_handler.h
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Fix non-`cvd login` credentials
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/libs/web/oauth2_consent.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Fix non-`cvd login` credentials
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/libs/web/oauth2_consent.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Restore help interception functionality
  base/cvd/cuttlefish/host/commands/cvd/cvd.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Convert cvd create flags to absolute paths
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/create.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Convert cvd create flags to absolute paths
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/create.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Restore help interception functionality
  base/cvd/cuttlefish/host/commands/cvd/cvd.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Restore help interception functionality
  base/cvd/cuttlefish/host/commands/cvd/cvd.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

.github/CODEOWNERS:

# refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# overall code owners
* @Databean @jemoreira @rmuthiah @jmacnak @adelva1984

# cvd
/base/cvd @Databean @rmuthiah @jemoreira @ser-io

# github workflows
/.github/workflows/ @jemoreira @ser-io

# docker TLs
/docker/ @jemoreira @ikicha @0405ysj @Databean

# host orchestration TLs
/frontend/ @jemoreira @ser-io

# WebUI Owners
/frontend/src/operator/webui/ @jemoreira @ikicha
