Repository google/android-cuttlefish, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io, @ikicha, @0405ysj

.github/CODEOWNERS:

# refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# overall code owners
* @Databean @jemoreira @rmuthiah @jmacnak @adelva1984

# cvd
/base/cvd @Databean @rmuthiah @jemoreira @ser-io

# github workflows
/.github/workflows/ @jemoreira @ser-io

# docker TLs
/docker/ @jemoreira @ikicha @0405ysj @Databean

# host orchestration TLs
/frontend/ @jemoreira @ser-io

# WebUI Owners
/frontend/src/operator/webui/ @jemoreira @ikicha

Add event for job to run with merge queue
  .github/workflows/artifacts.yaml
Owners: @jemoreira, @ser-io

Save screenshots on failure
  tests/graphics/src/com/android/cuttlefish/tests/CuttlefishVulkanSnapshotTests.java
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Reuse the presubmit kokoro configuration for the continuous configuration
  .kokoro/continuous.cfg
  .kokoro/demo_result.xml
  .kokoro/public_test.sh
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Reuse the presubmit kokoro configuration for the continuous configuration
  .kokoro/continuous.cfg
  .kokoro/demo_result.xml
  .kokoro/public_test.sh
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Enforce more clang-tidy checks that are already conformed to
  base/cvd/.clang-tidy
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Reapply "Update kernel module paths"
  shared/BoardConfig.mk
  shared/minidroid/BoardConfig.mk
  vsoc_riscv64/BoardConfig.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Set ro.vendor.hwc.drm.present_fence_not_reliable=true
  shared/graphics/device_vendor.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Update ExtractArchiveContents to support uncompressed archives
  base/cvd/cuttlefish/common/libs/utils/BUILD.bazel
  base/cvd/cuttlefish/common/libs/utils/archive.cpp
  base/cvd/cuttlefish/common/libs/utils/archive_test.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Enforce more clang-tidy checks that are already conformed to
  base/cvd/.clang-tidy
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove the `merge_group` event from our actions
  .github/workflows/artifacts.yaml
  .github/workflows/presubmit.yaml
Owners: @jemoreira, @ser-io
