Repository google/android-cuttlefish, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io, @ikicha, @0405ysj

.github/CODEOWNERS:

# refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# overall code owners
* @Databean @jemoreira @rmuthiah @jmacnak @adelva1984

# cvd
/base/cvd @Databean @rmuthiah @jemoreira @ser-io

# github workflows
/.github/workflows/ @jemoreira @ser-io

# docker TLs
/docker/ @jemoreira @ikicha @0405ysj @Databean

# host orchestration TLs
/frontend/ @jemoreira @ser-io

# WebUI Owners
/frontend/src/operator/webui/ @jemoreira @ikicha

Use local ICE config. (#169)
  types.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add more logging for cvdr connection agent
  client.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Ensure goroutines stop when the webrtc connection is dropped
  client.go
  client_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Refactor Reshape to use generics
  client.go
  client_test.go
  types.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use selector namespace for selectors only
  base/cvd/cuttlefish/host/commands/cvd/acloud/converter.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/display.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/load_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/remove.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/group_selector.h
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/device_selector_utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/data_viewer.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/data_viewer.h
  base/cvd/cuttlefish/host/commands/cvd/instances/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/group_selector.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_utils.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_group_record.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_group_record.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_manager.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_record.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_record.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_selector.h
  base/cvd/cuttlefish/host/commands/cvd/instances/operator_client.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/operator_client.h
  base/cvd/cuttlefish/host/commands/cvd/instances/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/status_fetcher.h
  base/cvd/cuttlefish/host/commands/cvd/legacy/run_server.cpp
  base/cvd/cuttlefish/host/commands/cvd/main.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Use selector namespace for selectors only
  base/cvd/cuttlefish/host/commands/cvd/acloud/converter.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/display.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/load_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/remove.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/group_selector.h
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/device_selector_utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/data_viewer.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/data_viewer.h
  base/cvd/cuttlefish/host/commands/cvd/instances/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/group_selector.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_utils.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_group_record.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_group_record.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_manager.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_record.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_record.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_selector.h
  base/cvd/cuttlefish/host/commands/cvd/instances/operator_client.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/operator_client.h
  base/cvd/cuttlefish/host/commands/cvd/instances/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/status_fetcher.h
  base/cvd/cuttlefish/host/commands/cvd/legacy/run_server.cpp
  base/cvd/cuttlefish/host/commands/cvd/main.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Use webrtcclient hosted now in android-cuttlefish.
  frontend/src/libhoclient/BUILD.bazel
  frontend/src/libhoclient/go.mod
  frontend/src/libhoclient/host_orchestrator_client.go
Owners: @jemoreira, @ser-io

Revert^2 "Enable Media Quality Service on Cuttlefish"
  shared/tv/device_vendor.mk
  tests/hal/hal_implementation_test.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Fix function pointer type mismatch for C23.
  guest/hals/ril/reference-ril/reference-ril.c
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Reapply "Add serialno access to the kefault keymint domain"
  shared/sepolicy/vendor/hal_keymint_default.te
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Fix sepolicy errors on switching keymint/gatekeeper domains
  shared/sepolicy/vendor/hal_gatekeeper_default.te
  shared/sepolicy/vendor/hal_keymint_default.te
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Bump KeyMint version
  guest/hals/confirmationui/Android.bp
  guest/hals/keymint/rust/android.hardware.hardware_keystore.rust-keymint.xml
  guest/hals/keymint/rust/android.hardware.security.keymint-service.rust.xml
  guest/hals/keymint/rust/android.hardware.security.keymint-service.trusty.system.xml
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use webrtcclient hosted now in android-cuttlefish.
  frontend/src/libhoclient/BUILD.bazel
  frontend/src/libhoclient/go.mod
  frontend/src/libhoclient/host_orchestrator_client.go
Owners: @jemoreira, @ser-io

Remove `TraceAndAllow` implementation.
  host/commands/process_sandboxer/sandbox_manager.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use random data for sandbox pingback values.
  host/commands/process_sandboxer/sandbox_manager.cpp
  host/commands/process_sandboxer/sandbox_manager.h
  host/commands/process_sandboxer/sandboxer_proxy.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use a tmpfs mount for netsimd `/tmp`
  host/commands/process_sandboxer/policies/netsimd.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Delete unused types
  base/cvd/cuttlefish/host/commands/cvd/cli/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Use statically typed queries in instance database
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/display.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/env.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/load_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/device_selector_utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/device_selector_utils.h
  base/cvd/cuttlefish/host/commands/cvd/instances/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/group_selector.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_manager.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_selector.h
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/instance_database_test.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Use statically typed queries in instance database
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/display.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/env.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/load_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/device_selector_utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/device_selector_utils.h
  base/cvd/cuttlefish/host/commands/cvd/instances/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/group_selector.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_manager.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_selector.h
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/instance_database_test.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Delete unused types
  base/cvd/cuttlefish/host/commands/cvd/cli/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_database_types.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Use Kati to build the system image for cuttlefish targets
  vsoc_x86_64/phone/aosp_cf.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Use `JoinPath` rather than concatenation in all sandbox policies
  host/commands/process_sandboxer/policies/modem_simulator.cpp
  host/commands/process_sandboxer/policies/webrtc.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Rename KM VM related system properties
  guest/services/trusty_security_vm_launcher/trusty_security_vm_launcher.rc
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Update kernel version to come from bookworm
  tools/create_base_image_gce.sh
  tools/install_nvidia.sh
  tools/update_gce_kernel.sh
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Consolidate group and instance selection code
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/bugreport.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/display.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/env.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/remove.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/stop.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/device_selector_utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/device_selector_utils.h
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/selector.h
  base/cvd/cuttlefish/host/commands/cvd/instances/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/group_selector.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_manager.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_selector.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Update ARpcServer_newVsock for new method
  shared/minidroid/sample/servicediscovery/minidroid_sd.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Consolidate group and instance selection code
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/bugreport.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/display.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/env.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/remove.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/commands/stop.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/device_selector_utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/device_selector_utils.h
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/cli/selector/selector.h
  base/cvd/cuttlefish/host/commands/cvd/instances/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/group_selector.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_manager.h
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instances/instance_selector.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Changed how hibernation image is generated
  shared/BoardConfig.mk
  shared/auto/Android.bp
  shared/auto/device_vendor.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

SnapshotTest avoid delete on snapshot fail, throw errors
  tests/snapshot/src/com/android/cuttlefish/tests/SnapshotTest.java
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add wget to github ci/cd build
  .github/workflows/artifacts.yaml
Owners: @jemoreira, @ser-io

Don't send BTN_TOUCH UP unless down is false
  host/libs/input_connector/socket_input_connector.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Don't access iterator after erase
  host/libs/input_connector/socket_input_connector.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Don't use slot id as tracking id
  host/libs/input_connector/socket_input_connector.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Send touch up/down events for all contacts
  host/libs/input_connector/socket_input_connector.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Re-enable soong-built system image for aosp_cf targets
  vsoc_x86_64/phone/aosp_cf.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Move version 1.0.0 to unstable
  base/debian/changelog
  frontend/debian/changelog
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io

Fixing watchdog for trade-in mode
  host/frontend/adb_connector/adb_connection_maintainer.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Bump KeyMint version
  guest/hals/confirmationui/Android.bp
  guest/hals/keymint/rust/android.hardware.hardware_keystore.rust-keymint.xml
  guest/hals/keymint/rust/android.hardware.security.keymint-service.rust.xml
  guest/hals/keymint/rust/android.hardware.security.keymint-service.trusty.system.xml
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Move version 1.0.0 to unstable
  base/debian/changelog
  frontend/debian/changelog
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io

Begin development on unreleased version 1.1.0
  base/debian/changelog
  frontend/debian/changelog
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io
