Repository google/android-cuttlefish, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io, @ikicha, @0405ysj

Log end of http requests
  base/cvd/cuttlefish/common/libs/utils/tee_logging.cpp
  base/cvd/cuttlefish/host/libs/web/http_client/http_client.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

CUTTLEFISH: cf_x86_64_desktop builds use AL kernel
  shared/BoardConfig.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

[Draft] Snapshot e2e test.
  .github/workflows/presubmit.yaml
  e2etests/orchestration/BUILD.bazel
  e2etests/orchestration/common.go
  e2etests/orchestration/snapshot_test.go
Owners: @jemoreira, @ser-io, @Databean, @rmuthiah, @jmacnak, @adelva1984

Create device snapshot.
  frontend/src/host_orchestrator/api/v1/messages.go
  frontend/src/host_orchestrator/main.go
  frontend/src/host_orchestrator/orchestrator/controller.go
  frontend/src/host_orchestrator/orchestrator/createsnapshotaction.go
  frontend/src/host_orchestrator/orchestrator/instancemanager.go
Owners: @jemoreira, @ser-io

Start from snapshot.
  frontend/src/host_orchestrator/api/v1/messages.go
  frontend/src/host_orchestrator/orchestrator/controller.go
  frontend/src/host_orchestrator/orchestrator/startcvdaction.go
Owners: @jemoreira, @ser-io

Bump e2e test artifacts build id.
  e2etests/orchestration/BUILD.bazel
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Removing vhost_user_vsock
  shared/auto/android-info.txt
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Snapshot e2e test.
  .github/workflows/presubmit.yaml
  e2etests/orchestration/BUILD.bazel
  e2etests/orchestration/common.go
  e2etests/orchestration/snapshot_test.go
Owners: @jemoreira, @ser-io, @Databean, @rmuthiah, @jmacnak, @adelva1984

Add back drm hwcomposer support
  host/commands/assemble_cvd/bootconfig_args.cpp
  shared/graphics/device_vendor.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Start from snapshot.
  frontend/src/host_orchestrator/api/v1/messages.go
  frontend/src/host_orchestrator/orchestrator/controller.go
  frontend/src/host_orchestrator/orchestrator/startcvdaction.go
Owners: @jemoreira, @ser-io

Create device snapshot.
  frontend/src/host_orchestrator/api/v1/messages.go
  frontend/src/host_orchestrator/main.go
  frontend/src/host_orchestrator/orchestrator/controller.go
  frontend/src/host_orchestrator/orchestrator/createsnapshotaction.go
  frontend/src/host_orchestrator/orchestrator/instancemanager.go
Owners: @jemoreira, @ser-io

Snapshot e2e test.
  .github/workflows/presubmit.yaml
  e2etests/orchestration/BUILD.bazel
  e2etests/orchestration/common.go
  e2etests/orchestration/snapshot_test.go
Owners: @jemoreira, @ser-io, @Databean, @rmuthiah, @jmacnak, @adelva1984

Bump e2e test artifacts build id.
  e2etests/orchestration/BUILD.bazel
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Simplify Fetch function
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Track fetch duration and download sizes for cvd fetch
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_tracer.cpp
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_tracer.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Track fetch duration and download sizes for cvd fetch
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_tracer.cpp
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_tracer.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Simplify Fetch function
  base/cvd/cuttlefish/host/commands/cvd/fetch/fetch_cvd.cc
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Always inherit IO with acloud translator
  base/cvd/cuttlefish/host/commands/cvd/acloud/converter.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Use Stdio instead of NullIo for request lookup
  base/cvd/cuttlefish/host/commands/cvd/server_command/help.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Don't support requests with null IO anymore
  base/cvd/cuttlefish/host/commands/cvd/acloud/converter.cpp
  base/cvd/cuttlefish/host/commands/cvd/cvd.cpp
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_client.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_client.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/acloud_command.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/bugreport.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/display.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/help.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/load_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/stop.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/utils.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove working directory from RequestWithStdio
  base/cvd/cuttlefish/host/commands/cvd/acloud/converter.cpp
  base/cvd/cuttlefish/host/commands/cvd/cvd.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_client.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_client.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/bugreport.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/display.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/lint.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/load_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/stop.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/utils.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove IO channels from RequestWithStdio
  base/cvd/cuttlefish/host/commands/cvd/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_client.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_client.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/acloud_command.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/acloud_mixsuperimage.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/acloud_translator.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/clear.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/cmd_list.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/display.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/fleet.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/help.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/lint.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/load_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/noop.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/remove.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/version.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove IO channels from RequestWithStdio
  base/cvd/cuttlefish/host/commands/cvd/group_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_client.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_client.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/acloud_command.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/acloud_mixsuperimage.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/acloud_translator.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/clear.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/cmd_list.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/display.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/fleet.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/help.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/lint.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/load_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/noop.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/remove.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/version.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Don't support requests with null IO anymore
  base/cvd/cuttlefish/host/commands/cvd/acloud/converter.cpp
  base/cvd/cuttlefish/host/commands/cvd/cvd.cpp
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_client.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_client.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/acloud_command.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/bugreport.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/display.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/help.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/load_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/stop.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/utils.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/utils.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove working directory from RequestWithStdio
  base/cvd/cuttlefish/host/commands/cvd/acloud/converter.cpp
  base/cvd/cuttlefish/host/commands/cvd/cvd.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_client.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_client.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/bugreport.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/display.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/lint.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/load_configs.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/stop.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/utils.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Always inherit IO with acloud translator
  base/cvd/cuttlefish/host/commands/cvd/acloud/converter.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Use Stdio instead of NullIo for request lookup
  base/cvd/cuttlefish/host/commands/cvd/server_command/help.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Print modified environment variables only
  base/cvd/cuttlefish/host/commands/cvd/command_sequence.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add StringFromEnv overload that returns std::optional
  base/cvd/cuttlefish/common/libs/utils/environment.cpp
  base/cvd/cuttlefish/common/libs/utils/environment.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Revert "Removing vhost_user_vsock"
  shared/auto/android-info.txt
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Revert^2 "Add Cuttlefish frontend mouse support."
  build/Android.bp
  host/commands/assemble_cvd/flags.cc
  host/commands/assemble_cvd/flags.h
  host/commands/run_cvd/launch/streamer.cpp
  host/frontend/webrtc/connection_observer.cpp
  host/frontend/webrtc/html_client/Android.bp
  host/frontend/webrtc/html_client/client.html
  host/frontend/webrtc/html_client/js/app.js
  host/frontend/webrtc/html_client/js/cf_webrtc.js
  host/frontend/webrtc/html_client/js/mouse.js
  host/frontend/webrtc/libdevice/connection_observer.h
  host/frontend/webrtc/libdevice/data_channels.cpp
  host/frontend/webrtc/libdevice/streamer.cpp
  host/frontend/webrtc/libdevice/streamer.h
  host/frontend/webrtc/main.cpp
  host/libs/config/cuttlefish_config.h
  host/libs/config/cuttlefish_config_instance.cpp
  host/libs/confui/host_virtual_input.cc
  host/libs/input_connector/input_connector.h
  host/libs/input_connector/socket_input_connector.cpp
  host/libs/input_connector/socket_input_connector.h
  host/libs/vm_manager/crosvm_manager.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Print modified environment variables only
  base/cvd/cuttlefish/host/commands/cvd/command_sequence.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Add StringFromEnv overload that returns std::optional
  base/cvd/cuttlefish/common/libs/utils/environment.cpp
  base/cvd/cuttlefish/common/libs/utils/environment.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Introduce isolation in artifacts.yaml
  .github/workflows/artifacts.yaml
Owners: @jemoreira, @ser-io

Align e2e orchestration project structure with bazel gazelle.
  e2etests/README.md
  e2etests/WORKSPACE
  e2etests/go.mod
  e2etests/go.sum
  e2etests/go_repositories.bzl
  e2etests/orchestration/BUILD.bazel
  e2etests/orchestration/artifacts/BUILD.bazel
  e2etests/orchestration/artifacts/def.bzl
  e2etests/orchestration/artifacts/fetch_aosp_artifact.sh
  e2etests/orchestration/common/BUILD.bazel
  e2etests/orchestration/common/common.go
  e2etests/orchestration/create_from_images_zip_test/BUILD.bazel
  e2etests/orchestration/create_from_images_zip_test/main_test.go
  e2etests/orchestration/create_local_image_test/BUILD.bazel
  e2etests/orchestration/create_local_image_test/main_test.go
  e2etests/orchestration/create_single_instance_test/BUILD.bazel
  e2etests/orchestration/create_single_instance_test/def.bzl
  e2etests/orchestration/create_single_instance_test/main_test.go
  e2etests/orchestration/snapshot_test/BUILD.bazel
  e2etests/orchestration/snapshot_test/main_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Align e2e orchestration project structure with bazel gazelle.
  e2etests/README.md
  e2etests/WORKSPACE
  e2etests/go.mod
  e2etests/go.sum
  e2etests/go_repositories.bzl
  e2etests/orchestration/BUILD.bazel
  e2etests/orchestration/artifacts/BUILD.bazel
  e2etests/orchestration/artifacts/def.bzl
  e2etests/orchestration/artifacts/fetch_aosp_artifact.sh
  e2etests/orchestration/common/BUILD.bazel
  e2etests/orchestration/common/common.go
  e2etests/orchestration/create_from_images_zip_test/BUILD.bazel
  e2etests/orchestration/create_from_images_zip_test/main_test.go
  e2etests/orchestration/create_local_image_test/BUILD.bazel
  e2etests/orchestration/create_local_image_test/main_test.go
  e2etests/orchestration/create_single_instance_test/BUILD.bazel
  e2etests/orchestration/create_single_instance_test/def.bzl
  e2etests/orchestration/create_single_instance_test/main_test.go
  e2etests/orchestration/snapshot_test/BUILD.bazel
  e2etests/orchestration/snapshot_test/main_test.go
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

[repo-wide] use /usr/bin/env
  .kokoro/presubmit.sh
  .kokoro/public_test.sh
  base/cvd/cuttlefish/common/libs/utils/subprocess.cpp
  base/host/deploy/install_zip.sh
  base/install-nodejs.sh
  base/setup-nodejs-env.sh
  docker/guest/run_services.sh
  docker/image-build-bazel-wrapper.sh
  docker/image-builder.sh
  e2etests/cvd/cvd_command_boot_test.sh
  e2etests/cvd/cvd_load_boot_test.sh
  e2etests/cvd/launch_cvd_boot_test.sh
  e2etests/orchestration/artifacts/fetch_aosp_artifact.sh
  frontend/build-webui.sh
  frontend/debian/cuttlefish-orchestration.cuttlefish-host_orchestrator.init
  frontend/debian/cuttlefish-user.cuttlefish-operator.init
  frontend/gen_ssl_cert.sh
  frontend/install-nodejs.sh
  frontend/setup-nodejs-env.sh
  frontend/src/goutil
  frontend/src/protocutil
  tools/buildimage/increase_disk_size.sh
  tools/buildimage/install_cf_packages.sh
  tools/buildimage/install_gce_guest_environment.sh
  tools/buildimage/main.sh
  tools/buildutils/build_packages.sh
  tools/buildutils/installbazel.sh
  tools/cuttlefish-host-image-installer/metapackage-google/usr/share/cf_docker_co_run.sh
  tools/cuttlefish-host-image-installer/tests/installer-iso-extract-partitions.sh
  tools/cuttlefish-host-image-installer/tests/multidisk/installer-iso-extract-partitions-multidisk.sh
  tools/cuttlefish-host-image-installer/update_github_releases.sh
  tools/cuttlefish-host-image-installer/update_version_info.sh
  tools/cuttlefish-host-image-installer/utils/download-ci-cf.sh
  tools/minimerge/import.sh
  tools/testutils/prepare_host.sh
  tools/testutils/runcvde2etests.sh
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io, @ikicha, @0405ysj

[repo-wide] use /usr/bin/env
  .kokoro/presubmit.sh
  .kokoro/public_test.sh
  base/cvd/cuttlefish/common/libs/utils/subprocess.cpp
  base/host/deploy/install_zip.sh
  base/install-nodejs.sh
  base/setup-nodejs-env.sh
  docker/guest/run_services.sh
  docker/image-build-bazel-wrapper.sh
  docker/image-builder.sh
  e2etests/cvd/cvd_command_boot_test.sh
  e2etests/cvd/cvd_load_boot_test.sh
  e2etests/cvd/launch_cvd_boot_test.sh
  e2etests/orchestration/artifacts/fetch_aosp_artifact.sh
  frontend/build-webui.sh
  frontend/debian/cuttlefish-orchestration.cuttlefish-host_orchestrator.init
  frontend/debian/cuttlefish-user.cuttlefish-operator.init
  frontend/gen_ssl_cert.sh
  frontend/install-nodejs.sh
  frontend/setup-nodejs-env.sh
  frontend/src/goutil
  frontend/src/protocutil
  tools/buildimage/increase_disk_size.sh
  tools/buildimage/install_cf_packages.sh
  tools/buildimage/install_gce_guest_environment.sh
  tools/buildimage/main.sh
  tools/buildutils/build_packages.sh
  tools/buildutils/installbazel.sh
  tools/cuttlefish-host-image-installer/metapackage-google/usr/share/cf_docker_co_run.sh
  tools/cuttlefish-host-image-installer/tests/installer-iso-extract-partitions.sh
  tools/cuttlefish-host-image-installer/tests/multidisk/installer-iso-extract-partitions-multidisk.sh
  tools/cuttlefish-host-image-installer/update_github_releases.sh
  tools/cuttlefish-host-image-installer/update_version_info.sh
  tools/cuttlefish-host-image-installer/utils/download-ci-cf.sh
  tools/minimerge/import.sh
  tools/testutils/prepare_host.sh
  tools/testutils/runcvde2etests.sh
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io, @ikicha, @0405ysj

Avoid memory leak when frontline parsers fails to separate
  base/cvd/cuttlefish/host/commands/cvd/frontline_parser.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Avoid memory leak when frontline parsers fails to separate
  base/cvd/cuttlefish/host/commands/cvd/frontline_parser.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

.github/CODEOWNERS:

# refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# overall code owners
* @Databean @jemoreira @rmuthiah @jmacnak @adelva1984

# cvd
/base/cvd @Databean @rmuthiah @jemoreira @ser-io

# github workflows
/.github/workflows/ @jemoreira @ser-io

# docker TLs
/docker/ @jemoreira @ikicha @0405ysj @Databean

# host orchestration TLs
/frontend/ @jemoreira @ser-io

# WebUI Owners
/frontend/src/operator/webui/ @jemoreira @ikicha
