Repository google/android-cuttlefish, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984, @ser-io, @ikicha, @0405ysj

.github/CODEOWNERS:

# refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# overall code owners
* @Databean @jemoreira @rmuthiah @jmacnak @adelva1984

# cvd
/base/cvd @Databean @rmuthiah @jemoreira @ser-io

# github workflows
/.github/workflows/ @jemoreira @ser-io

# docker TLs
/docker/ @jemoreira @ikicha @0405ysj @Databean

# host orchestration TLs
/frontend/ @jemoreira @ser-io

# WebUI Owners
/frontend/src/operator/webui/ @jemoreira @ikicha

Remove unnecessary sudo in github ci/cd
  .github/workflows/artifacts.yaml
Owners: @jemoreira, @ser-io

aa
  README.md
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

aa
  README.md
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add serialno access to the kefault keymint domain
  shared/sepolicy/vendor/hal_keymint_default.te
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

aa
  README.md
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

aa:wq
  README.md
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

aa
  README.md
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

aa
  README.md
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

aa
  README.md
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Rename trusty_vm_launcher and move it to packages/modules/Virtualization
  guest/services/trusty_security_vm_launcher/Android.bp
  guest/services/trusty_security_vm_launcher/early_vms.xml
  guest/services/trusty_security_vm_launcher/trusty_security_vm_launcher.rc
  guest/services/trusty_vm_launcher/Android.bp
  guest/services/trusty_vm_launcher/src/main.rs
  shared/device.mk
  shared/sepolicy/system_ext/private/file_contexts
  shared/sepolicy/system_ext/private/trusty_security_vm_launcher.te
  shared/sepolicy/system_ext/private/trusty_vm_launcher.te
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Delete unused files
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/demo_multi_vd.cpp
  base/cvd/cuttlefish/host/commands/cvd/demo_multi_vd.h
  base/cvd/cuttlefish/host/commands/cvd/driver_flags.cpp
  base/cvd/cuttlefish/host/commands/cvd/driver_flags.h
  base/cvd/cuttlefish/host/commands/cvd/epoll_loop.cpp
  base/cvd/cuttlefish/host/commands/cvd/epoll_loop.h
  base/cvd/cuttlefish/host/commands/cvd/logger.cpp
  base/cvd/cuttlefish/host/commands/cvd/logger.h
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove cloud orchestrator client code.
  frontend/src/libhoclient/BUILD.bazel
  frontend/src/libhoclient/client.go
  frontend/src/libhoclient/client_test.go
  frontend/src/libhoclient/host_orchestrator_client.go
  frontend/src/libhoclient/host_orchestrator_client_test.go
  frontend/src/libhoclient/httputils.go
  frontend/src/libhoclient/httputils_test.go
Owners: @jemoreira, @ser-io

Rename package to `libhoclient` aligning with directory name.
  frontend/src/libhoclient/host_orchestrator_client.go
  frontend/src/libhoclient/host_orchestrator_client_test.go
  frontend/src/libhoclient/httputils.go
  frontend/src/libhoclient/httputils_test.go
Owners: @jemoreira, @ser-io

Deal with the InstanceDatabase directly from run_server.cpp
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.h
  base/cvd/cuttlefish/host/commands/cvd/run_server.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Don't validate and get flags for all host binaries
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/stop.cpp
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/host_tool_target_test.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Don't cache host target directories
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/cvd.cpp
  base/cvd/cuttlefish/host/commands/cvd/cvd.h
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.h
  base/cvd/cuttlefish/host/commands/cvd/main.cc
  base/cvd/cuttlefish/host/commands/cvd/request_context.cpp
  base/cvd/cuttlefish/host/commands/cvd/request_context.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/fleet.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/fleet.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target_manager.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/stop.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/stop.h
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/host_tool_target_test.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Don't use literal strings to search host tools
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/stop.cpp
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/host_tool_target_test.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove cloud orchestrator client code.
  frontend/src/libhoclient/BUILD.bazel
  frontend/src/libhoclient/client.go
  frontend/src/libhoclient/client_test.go
  frontend/src/libhoclient/host_orchestrator_client.go
  frontend/src/libhoclient/host_orchestrator_client_test.go
  frontend/src/libhoclient/httputils.go
  frontend/src/libhoclient/httputils_test.go
Owners: @jemoreira, @ser-io

Rename package to `libhoclient` aligning with directory name.
  frontend/src/libhoclient/host_orchestrator_client.go
  frontend/src/libhoclient/host_orchestrator_client_test.go
  frontend/src/libhoclient/httputils.go
  frontend/src/libhoclient/httputils_test.go
Owners: @jemoreira, @ser-io

Enable Media Quality Service on Cuttlefish
  shared/tv/device_vendor.mk
  tests/hal/hal_implementation_test.cpp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Run buildifier.
  base/cvd/MODULE.bazel
  base/cvd/android/BUILD.bazel
  base/cvd/cuttlefish/common/libs/fs/BUILD.bazel
  base/cvd/cuttlefish/common/libs/utils/BUILD.bazel
  base/cvd/cuttlefish/host/commands/assemble_cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/libs/config/BUILD.bazel
  base/cvd/cuttlefish/host/libs/image_aggregator/BUILD.bazel
  base/cvd/cuttlefish/host/libs/web/BUILD.bazel
  base/cvd/libbase/BUILD.bazel
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove buildifier setup and usage via Bazel in e2etests bazel project.
  e2etests/BUILD.bazel
  e2etests/WORKSPACE
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Run buildifier.
  base/cvd/MODULE.bazel
  base/cvd/android/BUILD.bazel
  base/cvd/cuttlefish/common/libs/fs/BUILD.bazel
  base/cvd/cuttlefish/common/libs/utils/BUILD.bazel
  base/cvd/cuttlefish/host/commands/assemble_cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/libs/config/BUILD.bazel
  base/cvd/cuttlefish/host/libs/image_aggregator/BUILD.bazel
  base/cvd/cuttlefish/host/libs/web/BUILD.bazel
  base/cvd/libbase/BUILD.bazel
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Remove buildifier setup and usage via Bazel in e2etests bazel project.
  e2etests/BUILD.bazel
  e2etests/WORKSPACE
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

nit: group third party import separately
  frontend/src/libhoclient/httputils.go
Owners: @jemoreira, @ser-io

nit: group third party import separately
  frontend/src/libhoclient/httputils.go
Owners: @jemoreira, @ser-io

Don't cache host target directories
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/cvd.cpp
  base/cvd/cuttlefish/host/commands/cvd/cvd.h
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.h
  base/cvd/cuttlefish/host/commands/cvd/main.cc
  base/cvd/cuttlefish/host/commands/cvd/request_context.cpp
  base/cvd/cuttlefish/host/commands/cvd/request_context.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/fleet.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/fleet.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target_manager.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/status.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/stop.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/stop.h
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/host_tool_target_test.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Deal with the InstanceDatabase directly from run_server.cpp
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.h
  base/cvd/cuttlefish/host/commands/cvd/run_server.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Don't validate and get flags for all host binaries
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/stop.cpp
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/host_tool_target_test.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Don't use literal strings to search host tools
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/host_tool_target.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/power.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/snapshot.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/stop.cpp
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/host_tool_target_test.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Set vsoc_arm to use 6.6 kernel
  vsoc_arm/BoardConfig.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Remove dependencies on the 1-variant fallback
  tests/graphics/Android.bp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Revert "Add serialno access to the kefault keymint domain"
  shared/sepolicy/vendor/hal_keymint_default.te
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add overlay xml file to fix test error for cuttlefish
  shared/phone/overlay/packages/apps/Settings/res/values/arrays.xml
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Add support for multiple custom partition paths
  host/commands/assemble_cvd/disk_flags.cc
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Fix path for 6.6 kernel
  vsoc_arm/BoardConfig.mk
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Wrap cvd::Instance in a LocalInstance class
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.h
  base/cvd/cuttlefish/host/commands/cvd/operator_client.cpp
  base/cvd/cuttlefish/host/commands/cvd/run_server.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_database.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_database.h
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_database_types.h
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_group_record.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_group_record.h
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_record.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_record.h
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_selector.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.h
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/group_record_test.cpp
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/instance_database_test.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Revert "Use new Radio HALs"
  guest/hals/ril/reference-libril/Android.bp
  guest/hals/ril/reference-libril/android.hardware.radio@2.1.xml
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984

Wrap cvd::Instance in a LocalInstance class
  base/cvd/cuttlefish/host/commands/cvd/BUILD.bazel
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.cpp
  base/cvd/cuttlefish/host/commands/cvd/instance_manager.h
  base/cvd/cuttlefish/host/commands/cvd/operator_client.cpp
  base/cvd/cuttlefish/host/commands/cvd/run_server.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_database.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_database.h
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_database_types.h
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_group_record.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_group_record.h
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_record.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_record.h
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_selector.cpp
  base/cvd/cuttlefish/host/commands/cvd/selector/instance_selector.h
  base/cvd/cuttlefish/host/commands/cvd/server_command/create.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/start.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.cpp
  base/cvd/cuttlefish/host/commands/cvd/server_command/status_fetcher.h
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/group_record_test.cpp
  base/cvd/cuttlefish/host/commands/cvd/unittests/selector/instance_database_test.cpp
Owners: @Databean, @rmuthiah, @jemoreira, @ser-io

Pin KeyMint dependency to correct/specific version
  guest/hals/keymint/remote/Android.bp
Owners: @Databean, @jemoreira, @rmuthiah, @jmacnak, @adelva1984
